{% extends "flashcards/flashcards-base.html" %}
{% block title %}Flashcards{% endblock %}
{% block topic %}Topics{% endblock %}
{% block description %}desscriptionnnnnnnnnnnnnnnnnnnnnnnnnn????{% endblock %}


{% block content %}
    <ul class="actions flashcards">
        {% for key, value in topics_data.items() %}
            <li>
                <a href="{{ url_for('deck', topic=key) }}" class="button">
                    {{ value.title }}
                </a>
            </li>
        {% endfor %}

    </ul>

{% endblock %}