{% extends "base.html" %}
{% block content %}
<h2>Register</h2>
<!-- Hiển thị thông báo -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<form method="post">
    {{ form.hidden_tag() }}
    {{ form.username.label }} {{ form.username(size=20) }}<br>
    {{ form.password.label }} {{ form.password(size=20) }}<br>
    {{ form.submit() }}
</form>

<p>Already have an account?</p>
<a class="button" href="{{ url_for('auth.login') }}">Login</a>

{% endblock %}
