<!DOCTYPE HTML>
<html>
	<head>
		<title>{% block title %}Flashcards{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
		<link rel="stylesheet" href="{{ url_for('flashcards.static', filename='flashcards.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" /></noscript>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
       <style>
        :root {
            --bg-url: url("{{ url_for('static', filename=bg_url) }}");
        }
        </style>
    </head>
	<body class="is-preload">
        <!-- Wrapper -->
        <div id="wrapper">
            <article class="container">
                <header class="flashcards-header" >
                    <h1 class="flashcards-topic">{% block topic %}{% endblock %}</h1>
                    <a href="{{ url_for('main.home') }}">
                        <i class="bi bi-x-lg"></i>
                    </a>
                </header>
                <p class="description">{% block description %}{% endblock %}</p>
               {% block content %}{% endblock %}
            </article>
        </div>

        <!-- BG -->
        <div id="bg"></div>

		<!-- Scripts -->
		<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
	</body>
</html>
