{% extends "flashcards/base.html" %}
{% block title %}{{flashcard_set.name}}{% endblock %}
{% block topic %}{{flashcard_set.name}}{% endblock %}
{% block description %}{{flashcard_set.description}}{% endblock %}


{% block content %}
<div class="flashcard-wrapper" data-set-name="{{ flashcard_set.name }}">
    <div class="card-container">
      {% for c in cards %}
        <div class="card" data-id="{{ c.id }}">
          <div class="card-inner">
            <div class="card-front"> <p>{{ c.front }}</p></div>
            <div class="card-back"> <p>{{ c.back }}</p></div>
          </div>
        </div>
      {% endfor %}
    </div>
    <ul class="actions controls">
        <li><a href="#" class="button" onclick="swipe(event,'forget')">Forget</a></li>
        <li><a href="#" class="button" onclick="swipe(event,'know')">Know</a></li>
    </ul>
</div>

{% endblock %}

