{% extends "flashcards/base.html" %}

{% block title %}Flashcards{% endblock %}
{% block topic %}Flashcards{% endblock %}
{% block description %}Flip each card to reveal the meaning and swipe. Practice words from everyday categories making it easier to remember and use Japanese naturally.{% endblock %}

{% block content %}
<ul class="actions flashcards">
  {% for s in sets %}
    <li>
      <a href="{{ url_for('flashcards.flashcards', set_name=s.name) }}" class="button">
        {{ s.name }}
      </a>
    </li>
  {% endfor %}
</ul>
{% endblock %}