{% extends "base.html" %}

{% block title %}The Dicktectives{% endblock %}

{% block content %}

    <!-- Header -->
        <header id="header">
            <div class="content">
                <div class="inner">
                    <h1>The Dicktective</h1>
                    <p>I turn ideas into a project, dream big, put on hard work and lock in until December 1st 2025.</p>
                </div>
            </div>
            <nav>
                <ul>
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('flashcards.index') }}">Flashcards</a></li>
                        <li><a href="{{ url_for('pomodoro.index') }}">Pomodoro</a></li>
                        <li><a href="{{ url_for('profile.index') }}">Profile</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                       <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                    {% endif %}

                </ul>
            </nav>
        </header>

    <!-- Footer -->
        <footer id="footer">
            <p class="copyright">
                <a href="#">Privacy Policy</a>
                &copy; 2025 developed by
                <a href="https://www.instagram.com/tuyetnhunqqq/">nancy</a>
                and
                <a href="https://www.instagram.com/zz.helga/">helga</a>.
            </p>
        </footer>

{% endblock %}